<% unless cart.empty? %>
  <div class="cart">
    <p>Your cart</p>
    <table>
      <%= render(cart.line_items) %>
      <tr>
        <td>Total</td>
        <td></td>
        <td><%= number_to_currency(cart.total) %></td>
      </tr>
     </table>
    <%= button_to 'Empty cart', cart, method: :delete,
        data:  { confirm: 'Are you sure?'} %>

  </div>
<% end %>
